%table
  - for row in ALL_TIMES.index(START_TIME)..ALL_TIMES.index(END_TIME)
    %tr
      - for x in ['slotAs', 'slotBs', 'slotCs', 'slotDs']
        %td{:class => "td_24"}<
          - if day == nil
            &nbsp;
          - else
            = render :partial => 'temp_select', :locals => {:slot => day.#{x}[row-1], :col => x, :row => row})