%tr{:style => "width: 100%;"}<
  %td{:colspan => 4, :class => "dtemp_title"}<
    - if dtemp == nil
      Nothing here!
    - elsif dtemp == "nil"
      "nil"
    - else
      = dtemp.name
- for x in 1..TIME_SLOTS.length
  %tr{:class => "select_row"}<
    %td<
      =x
    %td<
      =x
    %td<
      =x
    %td<
      =x