%tr{:style => "width: 100%;"}<
  %td{:colspan => 4, :class => "dtemp_title"}<
    - if dtemp == nil
      Nothing here!
    - elsif dtemp == "nil"
      "nil"
    - else
      = dtemp.name
%tr
  %td{:colspan => 4}
    &nbsp;
- for x in ALL_TIMES.index(START_TIME)..ALL_TIMES.index(END_TIME)
  %tr{:class => "select_row"}<
    %td<
      =dtemp.slotAs[x-1]
    %td<
      =dtemp.slotBs[x-1]
    %td<
      =dtemp.slotCs[x-1]
    %td<
      =dtemp.slotDs[x-1]