%tr{:style => "width: 100%;"}<
  %td{:colspan => 4, :class => "dtemp_title"}<
    - if dtemp == nil
      Nothing here!
    - elsif dtemp == "nil"
      "nil"
    - else
      = dtemp.name
%tr
  %td{:colspan => 4}
    &nbsp;
- for x in ALL_TIMES.index(START_TIME)..ALL_TIMES.index(END_TIME)
  %tr{:class => "select_row"}<
    = render :partial => "temp_row", :locals => {:dtemp => dtemp, :row => x} 