- for x in ['slotAs', 'slotBs', 'slotCs', 'slotDs']
  %td{:class => "td_24"}<
    - if dtemp == nil
      &nbsp;
    - else
      - if eval("get_user_for_slot(dtemp.#{x}[row-1])") != nil
        = eval("get_user_for_slot(dtemp.#{x}[row-1])")
      - else
        &nbsp;