- for x in ['slotAs', 'slotBs', 'slotCs', 'slotDs']
  %td{:class => "td_24"}<
    - if dtemp == nil
      &nbsp;
    - else
      - if eval("dtemp.#{x}[row-1]").user != nil
        = eval("dtemp.#{x}[row-1]").user.firstname
      - else
        &nbsp;