<div id="main">	
	<table border=1>
		<tr>
			<td>Day</td>
			<td>Week</td>
		</tr>
		<tr>
			<td><%= select_tag %></td>
		<tr>
			<td>View</td>
			<td>View</td>
		</tr>
		<tr>
			<td>Edit</td>
			<td>Edit</td>
		</tr>
	</table>
</div>