%p
  = flash[:notice]
- #form_tag :controller => "template", :action => "update", :id => @wtemplate.id do
- form_remote_tag :url => {:controller => "template", :action => "update", :id => @wtemplate.id}, :html => { :action => url_for(:controller => "template", :action => "update", :id => @wtemplate.id)} do
  %table{:border=>1, :style=>'table-layout:fixed;'}
    %caption Template #{@wtemplate.name}
    %tr
      %td
        = submit_tag "update"
    %tr
      %td
        %table{:border=>1}
          %tr
            %td
              %table{:border=>1}
                %caption{:class => "row_34"} Date
                %tr<
                  %td<
                    &nbsp;
                %tr{:class => "time_col"}<
                  %td<
                    &nbsp;
                - for x in TIME_SLOTS do
                  %tr{:class => "admin_edit"}<
                    %td{:class => "admin_edit_td"}<
                      =x
            - for x in 1..7
              %td<
                = render :partial => "template_select", :locals => {:x => x, :dtemp => [@wtemplate.sat, @wtemplate.sun, @wtemplate.mon, @wtemplate.tue, @wtemplate.wed, @wtemplate.thu, @wtemplate.fri][x-1]}
