%tr
  %td<
    = render :partial => "slot/slot",      | 
    :locals => {:slot => day.slotAs[row],  |
    :col => 1, :row => row}                |
  %td<
    = render :partial => "slot/slot",      | 
    :locals => {:slot => day.slotBs[row],  |
    :col => 2, :row => row}                |
  %td<
    = render :partial => "slot/slot",      | 
    :locals => {:slot => day.slotCs[row],  |
    :col => 3, :row => row}                |
  %td<
    = render :partial => "slot/slot",      | 
    :locals => {:slot => day.slotDs[row],  |
    :col => 4, :row => row}                |
    