%script
  ID=window.setTimeout("update();", 1000);
  function update()
  {
  var s_timeleft= document.forms[0].timeleft.value;
  
  if(s_timeleft<=0)
  {
  document.forms[0].timeleft.value = "0";
  document.forms[0].SUBMIT.value = "Lock Expired";
  document.forms[0].SUBMIT.disabled = true;
  window.alert("You have run out of time!  Please try again.");
  =#history.back();
  }
  else
  {
  s_timeleft = document.forms[0].timeleft.value -1;
  document.forms[0].timeleft.value = s_timeleft;
  }
  ID=window.setTimeout("update();", 1000);
  }
		
-form_for :day, @sd,          |
:url => {                     |
:controller => :calendar,     |
:action => :update,           |
:year => params[:year],       |
:month => params[:month],     |
:day => params[:day]} do |f|  |

  %input{:type => "textbox", :value => "119", :name => "timeleft", :size => "3", :readonly => ""}
  
  %table#edit_day{:border => 1, :style => "table-layout:fixed;"}
    %caption
      Schedule starting on #{@start_day.date.strftime(fmt='%A, %B %d, %Y')}
    %tbody{:align => "center"}
      %tr
        %td
          %table{:border => 1}
            %tr
              %td
                %table{:border => 1}
                  %caption Date
                  %tr<
                    %td{:class => "filler"}< &nbsp;
                  -for x in TIME_SLOTS do
                    -if admin?
                      %tr{:class => "admin_edit"}<
                        %td{:class => "admin_edit_td"}<
                          =x
                    -else
                      %tr<
                        %td{:class => "fillslot"}<
                          =x
              -for x in 1..@length.to_i
                =render :partial => 'day',                         |
                :locals => {:day => @start_day.date+(x-1),         |
                :is_today => (@sd.date == @start_day.date+(x-1))}  |
    %tr
      %td
        =submit_tag value="Save", :class => "form_submit", :name => "SUBMIT"
