body {
	background-color: #f2f2f2;
	color: #333;
	line-height: 150%;
	}

#ja-header, #ja-mainnav, #ja-container, #jabotsl, #ja-footer{
	margin: 0px auto;
	width: 97%;
}

#ja-mainbody{
	width: 80%;
	float: left;
}

#ja-contentwrap{
	float: right;
	display: block;
	background: #fcfcfc;
}

#ja-wrapper{
	min-width: 100%;
	margin: 0px;
	width: 100%;

}

#ja-header{
	height: 80px;
	position: relative;
}

h1.logo-text{
	font-size:180%;
	margin: 0px 0px 0px 5px;
	padding: 0px;
	text-transform: uppercase;
	display: block;
	font-weight: bold;
}
.contentheading, .componentheading, .blog_morestrong, h1, h2, h3, h4{
	font-family: 'Segoe UI', Arial, Helvetica, sans-serif;
}

p.site-slogan{
	display: block;
	background: #444;
	bottom: 20px;
	color: white;
	font-size: 92%;
	left: 0px;
	margin: 0px;
	padding: 2px 5px;
	position: absolute;
}

.moduletable_menu{
        float: left;
        overflow: hidden;
        padding-top: 10px;
        width: 24.99%;
}

tr {
 vertical-align: top;	
}

td ul li{
	list-style: none;
}

td{
	text-align: center;
	height: 100%;
}

td div{
	height: 100%;
}

table {
	white-space: nowrap;
}



  /* The following 3 classes are because Chrome and firefox tend to render tables differently.  FUCK THEM. */
.select_row{
	height: 28px;
}

.admin_edit{
	height: 28px;
}

.admin_edit_td{
	height: 24px;
}

.time_row{
	height: 28px;
}

.row_34{
	height: 34px;
}

.row_28{
	height: 28px;
}

.td_24{
	height: 24px;
}

.col1{
	background-color:#CCF;
}

.col2{
	background-color:#CDF;
}

.col3{
	background-color:#CEE;
}

.col4{
	background-color:#BED;
}

.logged_in{
	background-color:#EEEEEE;
}

.col{
	
}

.logged_in{
	background-color:#EEE;
}

.day_link{
	text-align: center;	
}

.filler{
	height: 51px;
}

.fillslot{
	height: 21px;
}

.current_day table{
	border: medium outset #B43530;
}

.today table{
	border: medium outset #EE6600;
}

.blocked {
	background-color:#363636
}
