body {
	background-color: #f2f2f2;
	color: #333;
	line-height: 150%;
	}

body, p, ol, ul{
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 13px;
    line-height: 18px;
}

tr {
 vertical-align: top;	
}

td ul li{
	list-style: none;
}

td{
	text-align: center;
	height: 100%;
}

td div{
	height: 100%;
}

table {
	white-space: nowrap;
}



  /* The following 3 classes are because Chrome and firefox tend to render tables differently.  FUCK THEM. */
.select_row{
	height: 28px;
}

.admin_edit{
	height: 28px;
}

.admin_edit_td{
	height: 24px;
}

.time_row{
	height: 28px;
}

.row_34{
	height: 34px;
}

.row_28{
	height: 28px;
}

.td_24{
	height: 24px;
}


.logged_in{
	background-color:#EEEEEE;
}

.col{
	
}

.logged_in{
	background-color:#EEE;
}

.day_link{
	text-align: center;	
}

.filler{
	height: 51px;
}

.fillslot{
	height: 21px;
}

.current_day table{
	border: medium outset #B43530;
}

.today table{
	border: medium outset #EE6600;
}

.blocked {
	background-color:#363636
}
