%h1
  %span#user_name= "#{@user.username}"
  ="'s schedule for the #{@week.woy} week of the year"
-if admin?
  =select_tag :user_select, options_from_users, :onChange => remote_function(:url => {:action => 'change_user'}, :with => "'user=' + this.value, 'week='+#{@week.id}"))
-unless @prev.nil?
  =link_to "Previous Week", :controller => :user, :action => :view_week, :user => params[:user], :woy => @prev.woy, :year => @prev.year
-else
  Previous Week
-unless @next.nil?
  =link_to "Next Week", :controller => :user, :action => :view_week, :user => params[:user], :woy => @next.woy, :year => @next.year
-else
  Next Week
%table#user_schedule{:border => 1}
  =render :partial => "user_week_data", :locals => {:week => @week, :results => @results}



