<% case col -%>
<% when 1 -%>
	<div class="col1">
<% when 2 -%>
	<div class="col2">
<% when 3 -%>
	<div class="col3">
<% when 4 -%>
	<div class="col4">
<% else -%>
	<div class="col">
<% end -%>



<% if params[:action]=="view" -%> 
	<%= get_user_for_slot(slot)%>
<% elsif params[:action]=="edit" -%>
	
	<% if slot.user_id != nil %>
		<% if get_user_for_slot(slot) != session[:user].name.gsub(/\s[a-zA-Z]*/, "")  %>
			<%= get_user_for_slot(slot)%>
		<% else %>
			<%= radio_button_tag("row_#{row}", "Slot#{['A','B','C','D'][col-1]}", true)%>
		<% end %>
	<% else %>
		<%= radio_button_tag("row_#{row}", "Slot#{['A','B','C','D'][col-1]}", false)%>
	<% end %>

<% end -%>
</div>
