!!! Strict
%html
  %head
    %meta{'http-equiv' => 'Content-Type', :content => "text/html; charset=iso-8859-1"}
    =stylesheet_link_tag "style.css"
    =javascript_include_tag :defaults
    %title<
      =@title
      = yield :head
  %body
    %ul
      %li
        %a{:href => "http://207.72.2.8"} The Staff Site
      %li
        = link_to "Home", {:controller => :calendar, :action => :select}
      %li
        = link_to_cal("Go to Today", Date.today, 7)
    =yield
    
    -if  (ENV["RAILS_ENV"] == "development") || admin?
      #debug
        %a{:href => "#", :onclick =>                          |
        "Element.toggle('params_debug_info');return false;"}  |
        